{% if product.metafields.custom_fields["inventory_text"] != blank %}
  <div class="custom-field custom-field__inventory-text custom-field__type--text">
    <h3 class="custom-field--title">inventory_text</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["inventory_text"] }}
    </div>
  </div>
{% endif %}