<div class="richtext Container">
  <p>{{ section.settings.text }}</p>
  test text
</div>
{% schema %}
  {
    "name": "Richtext",
    "settings": [
	  {
        "type": "textarea",
        "id": "text",
        "label": "Richtext"
      }
    ],
    "blocks": [

    ]
  }
{% endschema %}