<div class="richtext Container">
  <p class="alison_txt 11">{{ section.settings.text }}</p> 
</div>

{% schema %}
  {
    "name": "Richtext",
    "settings": [
	  {
        "type": "textarea",
        "id": "text",
        "label": "Richtext"
      }
    ],
    "blocks": [

    ]
  }
{% endschema %}