<div class="full-width-slider-showroom">  
    {% for block in section.blocks %}
    <div class="slider-image ">
      <img src="{{ block.settings.image | img_url: '800x' }}" />
    </div>
    {% endfor %}
</div>

{% schema %}
  {
    "name": "Full Width Images",
    "settings": [
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}