<div class="showroom page__container">
  <div class="Container">
    <header class="PageHeader">
      <div class="SectionHeader SectionHeader--center">
        <h1>our stores</h1>
      </div>
    </header>
  </div>
</div>
{% section 'showroom_text' %}
{% section 'showroom-image-text' %}
{% section 'showroom-image-text-bottom' %}
{% render 'book' %}
{% section 'showroom-full-width-slider' %}



{%comment%}

<div class="appt-container">

  <center>
    <form method="post" id="cartform" action="/cart/add">
      <input type="hidden" name="id" data-productid="6093118210242" value="37637732761794">
      <div id="sesami__buttonWrapper" data-sesami-product-id="6093118210242" data-sesami-variant-id="37637732761794"></div>
      <center>
        <p class="line-item-property__field" style="margin-top:30px;">
          <label>Total number of guests in your party?</label><br>
          <select required class="required" id="total-number-guests" name="properties[Total number of guests in your party]">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </p> 
      </center>
      <input type="submit" value="Book Now">
    </form>
  </center>

  <div class="appt-qty">

  </div>
</div>
{%endcomment%}